.margenes {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2e2a2a;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


header {
    padding: 30px 0;
}

header .logo {
    color: crimson;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

header nav a {
    color: aquamarine;
    text-decoration: none;
    margin-right: 20px;
}

/*----------------------------------------------*/

.pel_principal {
    font-size: 16px;
    min-height: 40.62em;
    color: aliceblue;
    background: url(../Imagenes/portada.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    align-items: end;
    
}

.pel_principal .contenedor {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.pel_principal .titulo {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 5px;
}

.pel_principal .descripcion {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    max-width: 35%;
    margin-bottom: 20px;
    align-self: flex-start;
}

.pel_principal .boton:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo ligeramente transparente al hacer hover */
    color: #000;
}

.pel_principal .boton {
    
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    
    padding: 10px 10px;
    color: aliceblue;
    
    cursor: pointer;
    transition: .3s ease all;
    font-size: 18px;
}

/*-------------------------------------------*/

/* Estilos responsive */

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .pel_principal .descripcion {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .pel_principal .titulo {
        font-size: 30px;
    }

    .pel_principal .descripcion {
        font-size: 16px;
        line-height: 24px;
    }
}

.imagenes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagenes-container a {
    flex: 0 0 250px; /* Ancho fijo de cada imagen */
    margin: 10px;
}

.imagenes-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.imagenes-container img:hover {
    transform: scale(1.1);
}

/* Media queries para ajustar el tamaño en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .imagenes-container a {
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 480px) {
    .imagenes-container a {
        flex: 0 0 100%;
    }
}

.titulo-imagenes {
    font-family: 'Open Sans', sans-serif; /* Aplica la misma tipografía que el logo */
    color: rgb(218, 205, 207);
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 140px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

.imagenes-container .imagen-sean {
    width: 200px; /* Ajusta el tamaño deseado */
    height: 300px; /* Ajusta el tamaño deseado */
    object-fit: cover; /* Ajusta el tipo de ajuste */
}